<p-fieldset legend="Role List">

  <div class="ui-g-12">
    <div class="ui-g-4">
      <button pButton routerLink="/usermanagement/role/create" label="Create Role"></button>
    </div>
    <div class="ui-g-12">
      <p-table dataKey="id" [value]="roles" [lazy]="true" (onLazyLoad)="loadRolesLazy($event)"
               [paginator]="true"
               [rows]="10" [totalRecords]="totalElements">
        <ng-template pTemplate="header" let-columns="columns">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
          <tr>
            <td>{{rowData.id}}</td>
            <td>{{rowData.authorization}}</td>
            <td>
              <button pButton label="Delete" (click)="deleteById(rowData.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-fieldset>
