<mat-card class="role-create">
  <mat-card-content>
    <p-fieldset legend="Create Role">
      <button mat-flat-button color="primary" (click)="addNewRole()">Add New Role</button>
      <div *ngFor="let role of roles;let i = index">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="role.name"/>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="removeRole(role)">Remove</button>
      </div>
      <button mat-flat-button color="primary" (click)="saveRole()">Save</button>
    </p-fieldset>
  </mat-card-content>
</mat-card>
