<p-fieldset legend="Create Role">
  <div class="ui-g-4">
  <button pButton label="Add New Role" color="primary" (click)="addNewRole()"></button>
  </div>
  <div class="ui-g-12" *ngFor="let role of roles">
    <div class="ui-g-6">
      <input type="text" placeholder="Name" [(ngModel)]="role.name" autocomplete="off"
             class="ui-inputtext ui-corner-all ui-state-default ui-widget"/>
    </div>
    <button pButton label="Remove" (click)="removeRole(role)"></button>
  </div>
  <div class="ui-g-4">
    <button pButton label="Save" (click)="saveRole()"></button>
  </div>
</p-fieldset>
