<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-content>
      <p-fieldset legend="Login">
        <div class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="username" placeholder="Username">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="password" matInput [(ngModel)]="password" placeholder="Password">
          </mat-form-field>
          <button mat-stroked-button class="mat-primary btn-block" (click)="login()">Log in</button>
        </div>
      </p-fieldset>
    </mat-card-content>
  </mat-card>
</div>
