<p-fieldset legend="Project List">
  <button pButton type="button" routerLink="/testproject/create" label="Create Project"></button>
  <br>
  <p-table [(selection)]="selectedProject" (selectionChange)="show($event.id)" dataKey="id" [value]="projects"
           [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns="columns">
      <tr>
        <th style="width: 3em"></th>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
      <tr>
        <td>
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td>{{rowData.id}}</td>
        <td>{{rowData.name}}</td>
        <td>
          <button pButton type="button" routerLink="/testproject/create/{{rowData.id}}" label="Edit"></button>&nbsp;
          <button pButton type="button" (click)="show(rowData.id)" label="Show Users"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-fieldset *ngIf="selectedProjectId" legend="User Selection">
    <p-pickList (onMoveToTarget)="addUserToProject($event)"
                (onMoveToSource)="removeUserToProject($event)"
                [source]="source" [target]="userList" [responsive]="true" filterBy="emailAddress"
                dragdrop="true" sourceFilterPlaceholder="Search by name" sourceHeader="Available Users"
                targetHeader="Selected Users" targetFilterPlaceholder="Search by name">
      <ng-template let-user pTemplate="item">
        <div class="ui-helper-clearfix">
          <div>{{user.emailAddress || user.accountName}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </p-fieldset>
</p-fieldset>
