.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.center-text {
  text-align: center;
}

#main-container {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.basic-container {
  padding: 30px;

}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
