<p-fieldset legend="Detail Step By Step">
  <div class="ui-g-12" *ngFor="let command of testCommands;let i = index">
        <span fxFlexOffset="5px">
          <p-dropdown [disabled]="true" [options]="commandTypes" [(ngModel)]="command.type" placeholder="Actions">
          </p-dropdown>
        </span>
    <span fxFlexOffset="5px" *ngIf="command.type == 'sendKey' || command.type == 'click'">
          <p-dropdown [disabled]="true" [options]="commandSelectionType" [(ngModel)]="command.selectionType"
                      placeholder="Selection Type">
          </p-dropdown>
        </span>
    <span fxFlexOffset="5px" *ngIf="command.type == 'sendKey' || command.type == 'click'">
          <input disabled type="text" [(ngModel)]="command.selectionValue" autocomplete="off"
                 class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Element Selector"/>
        </span>
    <span fxFlexOffset="5px" *ngIf="command.type == 'goToUrl'">
       <input disabled type="text" [(ngModel)]="command.navigateUrl" autocomplete="off"
              class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Navigation Url"/>
        </span>
    <span fxFlexOffset="5px" *ngIf="command.type == 'sendKey'">
      <input disabled type="text" [(ngModel)]="command.message" autocomplete="off"
             class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Input"/>
        </span>
    <span style="width: 50%;padding-top: 20px ">
      <span style="margin-left: 10px"
            [class]="steps[i].status === 0 ? 'greenColor' : 'redColor'">
        {{steps[i].status === 0 || steps[i].result ? 'SUCCESS' : 'FAILED'}}
      </span>
      <span style="margin-left: 10px" *ngIf="steps[i].executionTime">{{steps[i].executionTime}} ms
      </span>
    </span>
  </div>
  <div class="ui-g-4">
    <button pTooltip="Result will be ignored" pButton (click)="runTest()" label="Run Test Again"></button>
  </div>
</p-fieldset>


