<p-fieldset legend="Create Project">
  <input type="text" [(ngModel)]="project.name" placeholder="Project Name" autocomplete="off"
         class="ui-inputtext ui-corner-all ui-state-default ui-widget"/>
  <br>
  <p-fieldset *ngIf="!project.id" legend="User Selection">
    <p-pickList [source]="source" [target]="project.users" [responsive]="true">
      <ng-template let-user pTemplate="item">
        <div class="ui-helper-clearfix">
          <div>{{user.emailAddress || user.accountName}}</div>
        </div>
      </ng-template>
    </p-pickList>
    <br>
    <button pButton type="button" (click)="saveProject()" label="Save"></button>
  </p-fieldset>

</p-fieldset>
