<p-fieldset legend="Report Suite Details">
  <p-table [value]="reportDatasource" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Test Run Id</th>
        <th>Suite Run Id</th>
        <th>Test Case Id</th>
        <th>Started Date</th>
        <th>End Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>{{rowData.id}}</td>
        <td>{{rowData.testSuiteInstanceRunnerId}}</td>
        <td>{{rowData.testCaseId}}</td>
        <td>{{rowData.startDate |date:'medium'}}</td>
        <td>{{rowData.fisinedDate |date:'medium'}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>
