<div *ngIf="!selectedProject">
  <span style="color:red">
        <p>There is not any defined project or selected project</p>
        <button routerLink="/testproject/create" mat-flat-button color="primary">Create Project</button>
    </span>
</div>
<p-fieldset *ngIf="selectedProject" legend="Suite">
  <div class="ui-g-12">
    <input type="text" [(ngModel)]="newTestSuiteName" autocomplete="off"
           class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="New Suite Name"/>
    <button pButton (click)="addTestSuite()" label="New Suite"></button>
  </div>
  <div class="ui-g-12">
    <p-table [columns]="cols" [value]="suites" [lazy]="true" [selectionMode]="single"
             (onRowSelect)="selectedNode($event)"
             (onLazyLoad)="loadAllSuitesLazy($event)" [paginator]="true"
             [rows]="10" [totalRecords]="totalRecordsSuites">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em"></th>
          <th>Id</th>
          <th>Name</th>
          <th>Created By</th>
          <th>Created Date</th>
          <th>Test Case Count</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
          </td>
          <td>{{rowData.id}}</td>
          <td>{{rowData.name}}</td>
          <td>{{rowData.userName}}</td>
          <td>{{rowData.createdDate | date:'medium'}}</td>
          <td>{{rowData.testCases ? rowData.testCases.length : 0}}</td>
          <td>
            <button pButton color="primary" routerLink="/testsuites/{{rowData.id}}" label="Detail"></button>&nbsp;
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-fieldset>
