<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start">
  <ng-container>
    <div class="widget" *ngIf="isProjectSelected"
         fxFlex="0 1 calc(25% - 32px)"
         fxFlex.lt-md="0 1 calc(50% - 32px)"
         fxFlex.lt-sm="100%"
    >
      <span># of Test Cases : {{testcaseCount | async}}</span>
    </div>
    <div class="widget" *ngIf="isProjectSelected"
         fxFlex="0 1 calc(25% - 32px)"
         fxFlex.lt-md="0 1 calc(50% - 32px)"
         fxFlex.lt-sm="100%"
    >
      <span># of Test Suites : {{testSuiteCount | async}}</span>
    </div>
    <div class="widget" *ngIf="isProjectSelected"
         fxFlex="0 1 calc(50% - 32px)"
         fxFlex.lt-md="0 1 calc(100% - 32px)"
         fxFlex.lt-sm="100%"
    >
      <div id="mockChart"></div>
    </div>
    <div class="widget" *ngIf="!isProjectSelected"
         fxFlex="0 1 calc(100% - 32px)"
         fxFlex.lt-md="0 1 calc(100% - 32px)"
         fxFlex.lt-sm="100%"
    >
      <span style="color:red">
        <p>There is not any defined project or selected project</p>
        <button routerLink="/testproject/create" mat-flat-button color="primary">Create Project</button>
      </span>
    </div>
  </ng-container>
</div>
