/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: linear-gradient(white, #D3D8E8)  }

.ui-picklist-buttons-cell{
  display:none !important;
}
.ui-slidemenu {
  width: 17em !important;
}


.mat-tab-labels .mat-tab-label-content {
  color: #ffffff;
}

.main_content > *{
  background-color: #ffffff ;
}
