<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="user.emailAddress"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Account Name" [(ngModel)]="user.accountName"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="user.accountPhrase"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="user.name"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="user.lastName"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="MiddleName" [(ngModel)]="user.middleName"/>
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary" (click)="saveUser()">Save</button>
  </mat-card-content>

</mat-card>
